.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    color: white;
}

.nav-logo{
    font-family: Outfit;
    font-size: 42px;
    font-weight: 500;
}

.nav-menu{
    align-items: center;
    display: flex;
    list-style: none;
    font-size: 18px;
    gap: 50px;
}

.nav-contact{
    border-radius: 50px;
    padding: 5px 22px;
    background: rgb(198, 255, 219);
    color: black;
}